:global(*) {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.container {
    margin: 17vh;
    width: 45vw;
    height: 65vh;
    background-color: rgb(126, 124, 124, 0.5);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    outline-color: white;
    outline-offset: -7px;
    outline-width: 2px;
    outline-style: solid;
}
.shortinputs {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}
:global(form) {
    width: 40vw;
    
}
:global(input[type="text"]) {
    border: 2px solid white ;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    color: black;
    
}
:global(input[type="date"]) {
    border: 2px solid white ;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    color: black;
}
:global(select) {
    border: 2px solid white ;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    color: black;
}
:global(label) {
    width: 90%;
    height: 70px;
    margin-bottom: 20px;
    
}
:global(label[for="sex"]), :global(label[for="healthcareplan"]){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
:global(label[for="name"]) {
    margin-bottom: 90px;
}
#pdif {
    left: -265px;
}
#pdif2 {
    left: -295px;
}
#btn {
    width: 100%;
    display: flex;
}
#update {
    width: auto;
    background-color: white;
    padding: 2px 10px;
    margin: 40px auto;
    font-size: 1.2vw;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
}
.lb {
    position: relative;
    width: fit-content;
    left: 15px;
    top: 13px;
    background-color: #c0bcbc;
    padding: 0 8px;
    font-weight: 550;
}

